* {
    padding: 0;
    margin: 0;
}

p {
    color: rgb(57, 55, 55);
}

a {
    color: white;
    text-decoration: none;
}

h2,
h1,
h3 {
    font-weight: 300;
}

.nav {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.hamburger {
    max-width: 1rem;
    max-height: 1rem;
    display: flex;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    align-items: center;

}

header .button {
    display: none;
}

body {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fig {
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.figures {
    display: none;
}

article {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.button {
    display: inline-block;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(hsl(136, 65%, 51%), hsl(190, 71%, 51%));
    font-size: 1.2rem;
    padding: .5rem 2rem;
    border-radius: 2rem;
}

.button:hover {
    transform: translate(0, -.2rem);
}

features {
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(240, 240, 246);

}

container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.small {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

latest {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

container2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.article {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(246, 242, 242);
    border-top: 0;
}

.content {
    padding: 1rem;
    text-align: left;
}

.footer {
    box-sizing: border-box;
    background-color: hsl(233, 26%, 24%);
    min-width: 100%;
    text-align: center;
    line-height: 250%;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
}

.headding {
    display: inline-flex;

}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.right {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
}




@media (min-width:376px) and (max-width:725px) {
    .small {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 1rem;

    }

    .a {
        display: flex;
        flex-direction: row;
        gap: 1rem
    }
}


@media screen and (min-width:726px) {
    .hamburger {
        display: none;
    }

    header {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: .5rem;

    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 1rem;

    }

    header .button {
        display: block;

    }

    .hamburger {
        display: none;
    }

    .nav a {
        color: black;
    }

    figure {
        display: flex;
        max-width: 100%;
        height: 50%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .fig {
        display: none;
    }

    article {
        width: 40%;
    }

    .figures {
        width: 60%;
        display: flex;
        height: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position-y: 30% 80%;
    }

    .figures img {
        height: 100%;
        width: 100%;

    }

    .mob1 {
        height: 120%;
        overflow: hidden;
        object-fit: cover;
    }

    .mob2 {
        width: 120%;
        height: 120%;
        position: relative;
        top: -20%;
    }

    features {
        text-align: left;
        padding: 2rem;

    }

    article {
        font-size: 2rem;
        text-align: left;
    }

    article p {
        font-size: 1rem;
    }

    container {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        gap: 2rem;
    }

    .small {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    latest {
        text-align: left;

    }

    container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .footer {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .logos {
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .left {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .links {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

}