* {
    padding: 0;
    margin: 0;
}
p {
    color: rgb(57, 55, 55);
}
a {
    color: white;
    text-decoration: none;
}
h2,
h1,
h3 {
    font-weight: 300;
}

.nav {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.hamburger {
    max-width: 1rem;
    max-height: 1rem;
    display: flex;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 1rem;
    align-items: center;

}

header .button {
    display: none;
}

body {
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fig {
    background-image: url('./images/bg-intro-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.figures {
    display: none;
}

article {
    text-align: center;
    font-size: 1.2rem;
    padding: 5%;
}

.button {
    display: inline-block;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(hsl(136, 65%, 51%), hsl(190, 71%, 51%));
    font-size: 1.2rem;
    padding: 1% 4%;
    border-radius: 2rem;
}

.button:hover {
    transform: translate(0, -.2rem);
}

features {
    margin: 1rem 0;
    text-align: center;
    padding: 5%;
    font-size: 1.2rem;
    background-color: hsl(0, 0%, 97%);
}

container {
    text-align: center;
    display: flex;
    flex-direction: column;

}

latest {
    text-align: center;
    font-size: 1.2rem;
    padding: 5%;
}

container2{

    display: flex;
    flex-direction: column;
    gap: 1.5%;
}

.article img {
    width: 100%;
    height: 25vh;
    border-radius: 5%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.article {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 1px solid rgb(246, 242, 242);
    border-top: 0;
}

.content {
    padding: 10%;
    text-align: left;
}
.footer {
    background-color: hsl(233, 26%, 24%);
    min-width: 90%;
    text-align: center;
    line-height: 250%;
    padding: 5%;
    font-size: 1.2rem;
    color: white;
}

.headding {
    display: inline-flex;
    background-color: white;
}

.icons {
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.right {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1rem;
}

 





@media screen and (min-width:550px) {
    .hamburger {
        display: none;
    }

    header {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: .5rem;

    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 5%;

    }

    header .button {
        display: block;

    }

    .hamburger {
        display: none;
    }

    .nav a {
        color: black;
    }

    figure {
        display: flex;
        max-width: 100%;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .fig {
        display: none;
    }

    article {
        width: 40%;

    }

    .figures {
        width: 60%;
        display: block;
        height: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;


    }

    .figures img {
        height: 100%;
        width: 100%;

    }

    .mob1 {
        overflow: hidden;
        width: 120%;
        height: 140%;
    }
    .mob2 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateY(-15%)
    }

    features {
        text-align: left;
    }

    article {
        font-size: 2rem;
        text-align: left;
    }

    article p {
        font-size: 1rem;
    }

    container {
        display: flex;
        flex-direction: row;
        column-gap: 1%;
        justify-content: space-between;
        text-align: left;
    }

    latest {
        text-align: left;

    }

    container2 {
        display: flex;
        flex-direction: row;
    }

    .footer {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .logos {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .left {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .links {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

}